.zone2{
	max-width: 100%;
	height:45vh;
	padding:50px;
	margin: 0px;
	background-color: #4844A3;
	background-image: url("../images/datascience_image.jpg");
	background-size: cover;
	background-position: center;
	text-decoration-color: #ffffff;
}

.zone3 .Project_Container{ /* Here, I realized that working on the image-wrapper
	container takes care of image sizes. So I don't have to worry
	about image sizes*/ 
	
	max-width: 100%;
	max-height: auto;
	margin: 2%; 
	display:grid;
	grid-template-columns: 30% 30% 30%; 
	grid-gap: 4%;
	align-content: center; 
	justify-content: center;
	
}
